@import '../style/reset.css';


body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
    h1.stand {
        color: #232340;

    }

    h2.agency {
        color: #606060;
}
    button.btn-recent-work {
        background: #5468E7;
        color: #FFF;
        height: 56px;
        width: 160px;
        border-radius: 8px;

}

    button.btn-featured {
        background: #FFBA79;
        border-radius: 14.22px;
        height: 29px;
        width: 119px;

    }

    td {
        font-size: 12px;
    }

    div.table {
        display: flex;
}

    .section-two {
        background-color: #232340;
        color: #FFF;
    }


@media screen and (max-width: 767px) {
    div .main-menu-desk {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
     
    nav {
        display: flex;     
        justify-content: space-between;
        align-items: center;   
        padding: 30px 50px 30px 40px;
    }

    div .menu-links {
        display: none;
    }

    body .mobile-container {
        background-color: #232340;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 375px;
        height: 812px;
        font-size: 32px;
        color: #FFF;
    }

    div .mobile-logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 317px;
        height: 128px;
        margin: 0 auto;
    }

    
    div .mobile-links {
        width: 122px;
        height: 280px;
        margin-left: 32px;
        display: flex;
    }

    div .mobile-li {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

@media screen and (min-width: 768px) {
    div .main-menu-desk {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 50px 30px 40px;
    }
    
    ul {
        display: flex;
        gap: 65px;
        
    }
    
    .btn-contact {
        background: #232340;
        color: #FFF;
        padding: 19px;
        border-radius: 10px;
    }

    .main-menu-mobile {
        display: none;
    }

    .mobile-container {
        display: none;
    }

    .mobile-logos {
        display: none;
    }
    .mobile-links {
        display: none;
    }

    .mobile-li {
        display: none;
    }

    main {
        display: flex;
    }
}
    .container-home {
        display: flex;
        align-items: center;
        margin: 0px 20px 0px 80px;
    }


    .text-section-one {
        display: grid;
        grid-gap: 30px;
        
}

    h1.stand {
        font-size: 64px;
    }

    h2.agency {
        font-size: 16px;
    }

